.section-layout-wrapper {
  display: flex;
  flex-direction: column;

  background-image: url("/public/images/lightBackground.png");
  background-position: center;
  background-size: contain;
  color: var(--primary);
  justify-content: center;
  align-items: center;
}
.section-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  height: max-content;
}
