.section-container {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 20px;
  height: fit-content;
  background-color: var(--white);
}
.section-image-container {
  display: grid;
  place-items: center;
  width: 264.31px;
  height: 565.78px;
  overflow: hidden;
  padding: 0 20px;
}
.section-image-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.section-text-container {
  display: grid;
  text-align: left;
  width: 100%;
}
.section-text-container p {
  font-size: 1.2em;
  line-height: 1.8em;
}
.user-testimony-wrapper {
  color: var(--primary);
  background-color: #fff;
  text-align: center;
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
  height: 50vh;
  position: relative;
  padding: 20px;
}

.user-icon-top {
  top: 50px;
  left: 30px;
}
.user-icon-bottom {
  right: 250px;
  top: 120px;
}
.user-testimony-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.user-details-container img {
  margin: 20px;
  width: 83px;
  height: 83px;
  object-fit: cover;
  border-radius: 100px;
}
@media screen and (max-width: 600px) {
  .user-icon-top {
    display: none;
  }
  .user-icon-bottom {
    right: 100px;
    top: 90%;
  }
  .section-text-container {
    text-align: center;
    place-items: center;
  }
  .section-text-container p {
    font-size: 0.8em;
    line-height: 1.8em;
  }
  .user-testimony-container {
    width: 100%;
    font-size: 0.5em;
  }
}
