.fan-request-flow-container {
  width: 70%;
  height: 80%;
  background-color: aquamarine;
  position: relative;
  padding: 10px;
  display: flex;
}
.fan-request-flow-left {
  height: 80%;
  width: 50%;
  padding: 20px;
}
.fan-request-flow-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fan-request-flow-right {
  height: 100%;
  width: 50%;
  margin-left: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.fan-request-footer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  bottom: 20px;
  padding: 10px;
}
.text-fan-request {
  font-size: 0.7em;
}
.fan-request-form-wrapper {
  min-height: 100px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
.fan-request-form-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fan-request-form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fan-request-form-text h2 {
  text-transform: uppercase;
}

.FRcomponent-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.FRcomponent-input-wrapper {
  margin: 10px 0px;
  width: 80%;
  height: 100%;
}
.FRcomponent-input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.FRcomponent-input-container label {
  margin-top: 20px;
}
.FRcomponent-input-container input {
  height: 75px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  padding-left: 20px;
  border-radius: 7px;
}
.FRcomponent-input-container input :focus {
  border: none;
  outline: none;
}
.FRcomponent-btn-container {
  display: flex;
  height: 100px;
  align-items: flex-start;
  justify-content: center;
}
.FRbtn {
  background-color: var(--tertiary-purple);
  color: var(--white);
}
@media screen and (max-width: 600px) {
  .fan-request-form-text {
    font-size: small;
  }
  .fan-request-form-container {
    width: 90%;
  }
}
