.slider-carousel-item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100%;
}
.slider-carousel {
  overflow-y: hidden;
  position: relative;
  background-color: #fff;
  display: flex;
  height: max-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}
.slider-btn-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0;
  padding: 10px;
}
.slider-btn-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.slider-btn-container > button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-color: var(--tertiary-lime);
  color: var(--primary);
  font-size: medium;
}
@media screen and (max-width: 900px) {
}
